
@{
    ViewBag.Title = "Principal";
}

<section id="slider-area" >
    <div class="single-slide-item overlay" style="background-image: url('assets/img/banner.jpg');background-position: center center;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="">

                    </div>
                </div>
                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>PAINEL ADMINISTRATIVO</h1>
                                <p>Controle de Produtos do Trilha Car</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
