<div class="container">
    <br />
    <div class="form-control">
        <form class="">
            <div class="form-row">
                <h4>Cadastro de Veículos</h4>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="txtCampo1">Campo 1</label>
                    <input type="text" class="form-control" id="txtCampo1" placeholder="campo 1" value="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="txtCampo2">Campo 2</label>
                    <input type="text" class="form-control" id="txtCampo2" placeholder="campo 2" value="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="txtCampo3">Campo 3</label>
                    <input type="text" class="form-control" id="txtCampo3" placeholder="campo 3" value="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="txtCampo4">Campo 4</label>
                    <input type="text" class="form-control" id="txtCampo4" placeholder="campo 4" value="" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefaultUsername">Campo 3</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"></span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
            </div>
            <div class="text-left">
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </form>
    </div>
    <br />
</div>
