<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>TrilhaCar - Painel Administrativo</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <link href="~/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/css/plugins/gijgo.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/css/reset.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>    
</head>
<body class="loader-active">
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <header id="header-area" class="fixed-top">
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="~/" class="logo">
                            <img src="~/assets/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active">
                                    <a href="~/">Principal</a>
                                </li>
                                <li>
                                    <a>Gestão de Produtos</a>
                                    <ul>
                                        <li><a href="~/Management/Cars">Carros</a></li>
                                        <li><a href="services.html">Peças</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

  
    <div class="scroll-top">
        <img src="~/assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/jquery-migrate.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/gijgo.js"></script>
    <script src="~/assets/js/plugins/vegas.min.js"></script>
    <script src="~/assets/js/plugins/isotope.min.js"></script>
    <script src="~/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="~/assets/js/plugins/waypoints.min.js"></script>
    <script src="~/assets/js/plugins/counterup.min.js"></script>
    <script src="~/assets/js/plugins/mb.YTPlayer.js"></script>
    <script src="~/assets/js/plugins/magnific-popup.min.js"></script>
    <script src="~/assets/js/plugins/slicknav.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>